
.App {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    display: block;
    width: 400px;
    margin: 10px auto 100px;
    background-color: #ffffff;
    color: #000000;
    padding: 0px 10px 10px 10px;
    border: 0.5px solid #dadada ;
    border-radius: 10px;
}

h1 {
    background-color: inherit;
    color: #204969;
    padding: 20px;
    text-align: center;
}

button {
    color: black;
    background-color: #08FFC8;
    padding: 10px;
    margin:  0px 20px 0px 0px ;
    border: 1px solid #08FFC8;
    border-radius: 6px;
}

button:hover {
    /*position: relative;*/
    cursor: pointer;
    background-color:#dadada ;
    color: black;
}



.todoForm {
    display: block;
    position: relative;
    padding: 10px 0 10px 40px
}

    .todoForm input {
        width: 70%;
        font-size: 18px;
        line-height: 18px;
        height: 20px;
        padding: 10px;
        border: 1px solid #08FFC8;
        border-radius: 6px;
        color: #888;
    }

    .todoForm button {
        color: black;
        background-color: #08FFC8;
        width: 40px;
        height: 40px;
        padding: 5px;
        margin:  0px 20px 0px 0px ;
        position: absolute;
        right: 5px;
        border: 1px solid #08FFC8;
        border-radius: 6px;
    }

    .todoForm button:hover {
        /*position: relative;*/
        cursor: pointer;
        background-color:#dadada ;
        color: black;
    }


.todoList li {
   display: block ;
   position: relative; 
   height: 30px;
   padding: 10px 0 10px 0px;
   margin:  0px 20px 0px 0px ;

}

.todoList li:hover {
        cursor: pointer;
        background-color: #FFF7F7;
        border-radius: 6px;
    }

.todoItem span i{
    position: absolute;
    right: 15px;
   }


footer {
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding-top:5px;
    font-size:12px;

}

.hidden{
    display:none;
}

.visible{
    display: inline-block;
}


#errorMessage{
    font-size: 15px;
    font-style: italic;
    color: #204969;

}

.completed{
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    color: #204969;
}

.filters{
    position: relative;
    text-align: center;
    margin: 20px;
}
.filters div{
    display: inline-block;
    margin: 5px;
}